html
  head
    title Task Manager
    link(rel="stylesheet" href="style.css")
  body
    h1 Task Manager
    form(method="POST" action="/")#create
      p Description
      input(name="description")
      p Difficulty
      input(type="number" name="difficulty")
      button(type="submit") Add task
    ol#list
      each item in list
        li(class=item.complete ? "complete" : "")
          p= item.difficulty
          p= item.description
          form(method="POST" action="/" + item.id)
            button(type="submit")= item.complete ? "uncomplete" : "complete"
