html
  head
    title Hello World!
    link(rel="stylesheet" href="style.css")
    script(defer src="script.js")
  body
    h1 Chatroom
    div#name
      h2 Please enter a diplay name
      input#name-input
    div#chat
      ul#chat-content
      input#chat-input
