h1, #create > * {
  width: min(20rem, 90vw);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p, h1 {
  text-align: center;
}

#create, #stats-wrapper {
  border-bottom: solid 2px black;
  padding-bottom: 5rem;
}

#create > button {
  margin-top: 1rem;
}

#list {
  list-style: none;
  padding: 0;
  width: min(30rem, 90vw);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#list li {
  margin-bottom: 0.5rem;
  border: solid 1px black;
  background-color: #eee;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

#list form {
  margin-block-end: 0;
  padding: 0.3rem;
  border-left: solid 1px black;
}

#list div {
  border-right: solid 1px black;
  background-color: hsl(130, 61%, 50%);
}

#list li.medium div {
  background-color: hsl(27, 61%, 50%);
}

#list li.hard div {
  background-color: hsl(0, 61%, 50%);
}

#list button {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: hsl(130, 61%, 50%);
}

#list li.complete button {
  background-color: hsl(27, 61%, 50%);
}

#stats {
  list-style: none;
  padding: 0;
  width: min(30rem, 90vw);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#stats li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
  background-color: #eee;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

#stats li div {
  border-right: solid 1px black;
}
